include ../_helpers/variables
include ../_helpers/mixins


//////////////-
//- Переменные
//////////////-

//- Активный пунт меню
- var $menu_activeLink = "2"



//////////////-
//- Миксины
//////////////-

//- Секция для группировки описания работы
mixin section($heading)
	section.project-section
		if $heading
			h2.project-h2=$heading
		block
mixin section_inner
	.project-section__inner
		if $heading
			h3.project-h3=$heading
		block
//- Описание проекта в 2 колонки
mixin project-cols
	.project-cols
		block
mixin project-col-1
	.project-col(class="--1")
		block
mixin project-col-2
	.project-col(class="--2")
		block

//- Изображение
mixin img-project($filename, $extension, $size, $alt="")
	.project-img
		picture
			source(
				type="image/webp",
				srcset=$filename+".webp" + " 1x," + $filename+"@2x.webp 2x")
			img.project-img__src(
				src=$filename+"."+$extension,
				srcset=$filename+"."+$extension + " 1x, " + $filename+"@2x."+$extension + " 2x",
				alt=$alt,
				class=(
					$size
					? '--'+$size
					: ''
				)
			)
//- Видео
mixin video-project()
	.project-video
		block

//- Ссылка на прототип
mixin prototype-link($url, $text="Interactive prototype")
	p
		a(href=$url, target='_blank', rel="nofollow noopener noreferrer").link=$text






doctype
html(lang="en")
	head
		include _includes/_head.pug
	body
		include _includes/_header.pug
		main.main
			.container
				+breadcrumbs({'Front Page': '/', 'Projects': '/projects/'})
				article.article-project
					header.project-header
						h1= $h1
						if $date
							.project-header__date= $date
						if $project.tags
							.tags
								each tag in $project.tags
									.tags__item= tag

						//- Ссылки на соседние проекты
						.neighbors

							//- Создаём новый массив, где только проекти с типом Internal
							-
								const projectListInternal = projectList.filter(function (e) {
									return e.type === 'internal';
								});		
							
							each project, index in projectListInternal
								case index+1
									when ($projectNumber-1)
										a(href="/projects/"+ project.id + "/", title=project.name, data-ga-label="Previous", aria-label="Previous Project: "+project.name).neighbors__prev.btn

									when ($projectNumber+1)
										a(href="/projects/"+ project.id + "/", title=project.name, data-ga-label="Next", aria-label="Next project: "+project.name).neighbors__next.btn

					block content

		include _includes/_footer.pug