//-Шаблон страницы
extends ../_templates/general


block vars
	//- Активный пунт меню
	- var $menu_activeLink = "2"
	- var $h1 = "Проекты"



block content
	mixin projectCard($projectPriority)
		each val in projectList
			if val.priority === $projectPriority
				div(class="project-card", class={"--not-filled-in-yet": val.type === "unpublished"})

					//- Подставляется после case
					mixin _projectList-content
						.project-card__thumbnail
							//- todo img(src='/projects/'+ $projectID + '/preview.png', alt='')
							img(src='/projects/1/preview.png', alt='')

						.project-card__caption(class={"--external": val.type === "external"})
							.project-card__title= val.name
							.project-card__desc= val.desc
							.project-card__date= val.date
							if val.type === "unpublished"
								.project-card__not-available-message в процессе наполнения


					case val.type
						when "internal"
							a.project-card__link(href='/projects/' + val.id + '/', data-ga-label=val.id, data-ga-action="internal")
								+_projectList-content
						when "external"
							a.project-card__link(href=val.targetURL, target='_blank', data-ga-label=val.id, rel="nofollow noopener noreferrer", data-ga-action="external")
								+_projectList-content
						when "unpublished"
							+_projectList-content



	.project-list(class="--1")
		+projectCard($projectPriority="1")
	h2 Собственное бюро и фриланс
	p Часто привлекал других проектировщиков, технического писателя, копирайтера, визуальных дизайнеров и SEO-специалиста.
	.project-list(class="--2")
		+projectCard($projectPriority="2")
	.project-list(class="--3")
		+projectCard($projectPriority="3")