//-Шаблон страницы
extends ../_templates/general

block prepend title
	- var pageTitle = "Проекты"
	| #{pageTitle + " → "}


block page-title
	| #{pageTitle}

block content
	//- var projectList = {"Этапы": "/", "Термины":"/terms.html", "Методологии":"/methodologies.html"}

	//- Цикл, который выводит пункты меню.
	//- Если значение переменной "menu_link_selected" совпадает с названием страницы, то присвоить класс "active"
		each val, key in projectList
			if menu_link_active === key
				li.menu__item
					a(href=val, class="menu__lnk active menu__lnk--" + key.toLowerCase())
						span.menu__lnk__inr= key
			else
				li.menu__item
					a(href=val, class="menu__lnk menu__lnk--" + key.toLowerCase())
						span.menu__lnk__inr= key

	mixin projectCard($id)
		each val in projectList
			if val.id === $id
				div(class="work-card --type-" + val.type, class={"--not-filled-in-yet": val.published === 'false'}, class="col--xs-6")
					a.work-card__link(href='/projects/' + $id + '/')
						.work-card__thumbnail
							img(src='/projects/'+ $id + '/preview.png', alt='')
						.work-card__caption-wrapper
							.work-card__caption
								.work-card__title= val.name
								.work-card__desc= val.desc
								span.work-card__date= val.date
								if val.published === 'false'
									.work-card__not-available-message В процессе наполнения


	.row.work-list
		+projectCard("1")
		+projectCard("2")