//-Шаблон страницы
extends ../_templates/general

block prepend title
	- var pageTitle = "Проекты"
	| #{pageTitle + " → "}


block page-title
	| #{pageTitle}

block content
	//- var projectList = {"Этапы": "/", "Термины":"/terms.html", "Методологии":"/methodologies.html"}

	//- Цикл, который выводит пункты меню.
	//- Если значение переменной "menu_link_selected" совпадает с названием страницы, то присвоить класс "active"
		each val, key in projectList
			if menu_link_active === key
				li.menu__item
					a(href=val, class="menu__lnk active menu__lnk--" + key.toLowerCase())
						span.menu__lnk__inr= key
			else
				li.menu__item
					a(href=val, class="menu__lnk menu__lnk--" + key.toLowerCase())
						span.menu__lnk__inr= key

	mixin projectCard($projectID, $width)
		each val in projectList
			if val.id === $projectID
				div(class="project-card --type-"+val.type, class={"--not-filled-in-yet": val.published === 'false'}, class="col--xs-"+$width)
					a.project-card__link(href='/projects/' + $projectID + '/')
						.project-card__thumbnail
							img(src='/projects/'+ $projectID + '/preview.png', alt='')
						.project-card__caption-wrapper
							.project-card__caption
								.project-card__title= val.name
								.project-card__desc= val.desc
								span.project-card__date= val.date
								if val.published === 'false'
									.project-card__not-available-message В процессе наполнения


	.row.project-list
		+projectCard($projectID="1", $width="6")
		+projectCard($projectID="2", $width="4")