//-Шаблон страницы
extends ../_templates/general


block vars
	//- Активный пунт меню
	- var $menu_activeLink = "2"
	- var $h1 = "Проекты"



block content
	mixin projectCard($projectPriority)
		each project in projectList
			if project.priority === $projectPriority & project.type !== "hidden"
				div(class="project-card", class={"--unpublished": project.type === "unpublished"})

					//- Подставляется после case
					mixin _projectList-content
						.project-card__thumbnail(class={"--external": project.type === "external"})
							picture
								source(type="image/webp", srcset='/projects/previews/'+ project.id + '.webp 1x, /projects/previews/'+ project.id + '@2x.webp 2x')
								img(src='/projects/previews/'+ project.id + '.jpg' srcset='/projects/previews/'+ project.id + '.jpg 1x, /projects/previews/'+ project.id + '@2x.jpg 2x', alt='')

						.project-card__caption(class={"--external": project.type === "external"})
							span.project-card__title(class={"--unpublished": project.type === "unpublished"})
								span.project-card__title-innr(class={"--unpublished": project.type === "unpublished"})= project.name
								if project.type === "unpublished"
									.project-card__unpublished-badge Не опубликован
							.project-card__desc= project.desc
							if project.tags
								.project-card__tags.tags
									each tag in project.tags
										.tags__item= tag
							.project-card__date= project.date
					case project.type
						when "internal"
							a.project-card__link(href='/projects/' + project.id + '/', data-ga-label=project.id, data-ga-action="internal")
								+_projectList-content
						when "external"
							a.project-card__link(href=project.targetURL, target='_blank', data-ga-label=project.id, rel="nofollow noopener noreferrer", data-ga-action="external")
								+_projectList-content
						when "unpublished"
							div(data-ga-action="unpublished", data-ga-label=project.id)
								+_projectList-content



	.project-list(class="--1")
		+projectCard($projectPriority="1")
	hr
	h2.title-with-desc Собственное бюро и фриланс
	.title-desc Только мои работы
	.project-list(class="--2")
		+projectCard($projectPriority="2")
	.project-list(class="--3")
		+projectCard($projectPriority="3")